
h1 {
  color: #e67e22;
  width: 100%;
  padding-bottom: 50px;
}

h2 {
  float: left;
  color: #9f9f9f;
  text-align: justify;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
}

ion-item {
  float: left;
  width: 50%;
}


.label {
  color: #6c6c6c;
}

ion-input {
  box-sizing: border-box;
  border-radius: 5px;
  --background: white;
}


ion-icon {
  font-size: 30px;
  padding-right: 10px;
  vertical-align: middle;
}


