<ion-content>
    <div class="box">
        <p><strong> ADMINISTRADOR </strong></p>
    </div>
    <div class="links">
        <a class="btn-opt" (click)="goToAlterarGrade()">Alterar grade horária</a>
        <a class="btn-opt" (click)="goToAlterarSenha()">Alterar senha</a>
<!--        <a href="http://localhost:4200/grade">Alterar grade horária</a>-->
<!--        <a href="http://localhost:4200/dados-admin">Alterar senha</a>-->
    </div>
    <ion-button (click)="logout()">Sair</ion-button>
</ion-content>
