<ion-content>
    <div class="padrao">
        <h1><strong>Esqueceu sua senha?</strong></h1>
        <h2>Tudo bem! Informe abaixo o email cadastrado e enviaremos as instruções para a redefinição de senha</h2>
        <div>
            <form>
                <ion-item>
                    <ion-label position="floating"><strong>INSIRA SEU EMAIL AQUI</strong></ion-label>
                    <ion-input type="email" name="email"></ion-input>
                </ion-item>
            </form>
            <div class="btn">
                <a class="btn-voltar" href="http://localhost:4200/login">
                    <ion-icon name="arrow-back-outline" class="icon"></ion-icon>
                    <strong>Voltar</strong></a>
                <ion-button type="submit">Enviar</ion-button>
            </div>
        </div>
    </div>
</ion-content>
